.square{
    height: 40px;
    width: 40px;
    box-shadow: 0 0 1px black;
}

.closed-square{
    background-color: lightgrey;
}

.clear-square {
    background-color: rgba(211, 211, 211, 0.45);
}

.bombed-square {
    background: url("./bomb.png") red;
    background-size: 100%;
}